body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.float-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
.icon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: black;
  text-align: center;
}
i {
  font-size: 18px;
  color: white;
}
.expense-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
